<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subjects </title>
  
    <style>
        table, th, td {
          border: 1px solid black;
        }
        th, td {
          padding: 15px;
        }
        .subjects {
          display: flex;
          flex-wrap: wrap;
        }
        .search__input{
          align-self: start;
          width: 250px;
        background: #fff;
        height: 30px;
        border-radius: 30px;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.8s;
        box-shadow: 4px 4px 6px 0 rgba(255,255,255,.3),
         -4px -4px 6px 0 rgba(116, 125, 136, .2), 
        inset -4px -4px 6px 0 rgba(255,255,255,.2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .2);    
        }
        .subject-card {
          padding: 2%;
          flex-grow: 1;
          flex-basis: 16%;
          flex-direction: row;
          flex-wrap: wrap;
          display: flex; /* so child elements can use flexbox stuff too! */
        }
        .subject-image img {
          width: 160px;
          height: 100px; 
          align-items: center;
        }
        .cart-image img{
          width: 80px;
          height: 50px; 
        }
        .subject-filter {
          display: flex;
        }
        .subject-filter h1 {
          flex-grow: 1;
        }
        .sort {
          display: flex;
        }
      
        .prod{
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;         margin: 20px;
               }

        .cartProd{
          margin: 20px;
          box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;        }       

        </style>
        <head>


<link rel ="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"></linkrel>
<script src="subjects.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>


<div id="subjects">

  <header> 
  <h1 v-text="sitename"></h1>
  <button v-on:click='showCheckout' v-if ="checkoutBtnStat">
    {{ cartItemCount }} 
    <span class="fas fa-cart-plus"></span>Checkout
  </button>
  <button disabled="disabled" v-else> <span class="fas fa-cart-plus"></span>Checkout
  </button>

  </header>
  <main> 
        <!-- if showSubject true then display subjects page -->    
  <div v-if='showSubject'>

    <nav class="subject-filter">


<div class="radiobuttons">

      <fieldset id="group1">

      <input type="radio"  name="group1" v-on:click="sortByLesson()">
      <label>Lesson</label><br>

    <input type="radio" name="group1" v-on:click="sortByPrice()">
    <label>Price</label>

    <input type="radio" name="group1" v-on:click="sortByLocation()">
    <label>Location</label>

    <input type="radio" name="group1" v-on:click="sortAvalaibleity()">
    <label>Availability</label>



    
      </fieldset>
      </div>

<fieldset id="group2"> 
    <input type="radio" id="css" name="group2" checked="checked" v-on:click="changeFormatfalse">
  <label for="css">ASC</label><br>
  <input type="radio" id="css" name="group2" v-on:click="changeFormat()">
  <label for="css">DESC</label><br>
</fieldset>

      <div class="sort">
        <div class="collection-sort">
            <input placeholder="search" class="search__input" v-model="searchbar" type="text">

        </div>
    
        <div class="collection-sort">

     
        </div>
    
      </div>
    
    </nav>





    <section class="subjects">

    <!-- the code for the subject page -->    
    <div class="subject-card">
              <!-- Loops thru the subjects list-->
            <div class="prod" v-for="subject in searchTable(searchbar, subjects)">

      <!-- subject information -->
      <h2 v-text="subject.title"></h2> 
      <div class="subject-image">
      <figure>
        <img v-bind:src="subject.image">
      </figure>
      </div>
      <p v-html="subject.location"></p>
      <p>Price: {{subject.price}}</p>
      <p>Available Stock: {{subject.availableInventory - cartCount(subject)}}</p>
      <button v-on:click='addtocart(subject)' v-if='canAddToCart(subject)'>Add to cart</button>
      <button disabled="disabled" v-else>Add to cart</button>
      <!-- 'add to cart' button 
      <button v-on:click='addToCart' v-if='canAddToCart'>Add to cart</button> 
      -->
      <!-- inventory message -->
      
      <span v-if='subject.availableInventory === cartCount(subject)'>All out!</span> 
      <span v-else-if="subject.availableInventory - cartCount(subject) < 5">
        Only {{subject.availableInventory - cartCount(subject)}} left!!
      </span>
      <span v-else>Buy Now</span>
      <!-- rating -->
      <div>
        <span v-for='n in subject.rating'>★</span>
        <span v-for="n in 5-subject.rating ">☆</span>
      </div> 
    </div>
</div>
    </div>
  </section>

      <!-- the code for the checkout page -->  
    <div v-else>

<h1 style="align-items: center;">Lessons in cart</h1>
<div class="subject-card">

<div class="cartProd" v-for = "subject in checkcountSubs(cart)">
<h3>{{subject.title}}</h3>   
<h4> Quantity In cart : {{cartCount(subject)}}</h4> 
<div class="cart-image">
  <figure>
    <img v-bind:src="subject.image">
  </figure>
  </div>
  
  <p v-html="subject.description"></p>
  <p>Price: {{subject.price}}</p>
  <p>Total Price: {{subject.price * cartCount(subject)}}</p>
  <button v-on:click= "removeItem(subject,cart)">Remove product</button>
</div>
</div>

      
      <h2>Checkout</h2>
      <p>
      <p style="size: 10; color: red;" v-if="validateFormInputName != true">Enter name in alphabets</p>
      <strong>First Name:</strong>
      <!-- This input field is bound to 'firstName' in the 'order' object --> 
      <input  v-model="order.firstName"/>
      </p> <p>
        <p  style="size: 10; color: red;" v-if="validateFormInputPhone != true">Enter phone number in correct format <br> exp : 0501234567
     </p>
        <p><strong>Phone number:</strong> <input  v-model="order.phonenumber"/></p> 
      </p>
      <button v-on:click='submitForm' v-if='validateFormInputName && validateFormInputPhone'>PlaceOrder</button>
      <button disabled="disabled" v-else>PlaceOrder</button>

      
    
    
    </div>
</main>
</div>

<script>


let app = new Vue({
    el:'#subjects',
            data:{
              searchbar: '',
              subjects: subjects,
              showSubject: true, 
              sitename: 'Subjects',
              sortState : false,
              sortNature : false,
              states: {
              AL: 'Alabama',
              AR: 'Arizona',
              CA: 'California',
              NV: 'Nevada'
                },
              order:{
                
                firstName: '',
                lastName: '',
                address: '',
                city: '',
                zip: '',
                phonenumber:'',
                error: '',
                errornumber: '',
    
                state: '',
                method: 'Home',
                gift: 'Ship as a Gift?',
                sendGift: 'Send as a gift',
                dontSendGift: 'Do not send as a gift'
              },

                cart:[],
          
            },
            methods:{ 
              
              addtocart: function(lesson){
                this.cart.push(lesson);
              // this.product.space --
              console.log("I am Cart" + this.cart)
               },
               //Removes the product from the cart 
               removeItem: function(lesson, cartsize){
                this.cart = this.cart.filter(item => item !== lesson)
               }
               ,
              // Triggers betweeen true and false when called
              showCheckout(){ 
              this.showSubject = this.showSubject ? false : true 
              },
              submitForm() {

                  this.order.firstName = ""
                  this.order.phonenumber = ""
                  alert("Order Submitted!")
                  location.reload()
                
              },
              canAddToCart(lesson) {
                    return lesson.availableInventory > this.cartCount(lesson);
                },
                cartCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i] === id) {
                            count++;
                        }
                    }
                    return count;
                }, 
                sortByLocation(){
                  if(this.sortNature == false){
                //Then compare func that sorts location in assecnding order 
                function comparelesson(a, b){
                  if(a.location > b.location)
                    return 1;
                  if(a.location < b.location)
                  return -1;
                  return0; }   
                }if(this.sortNature == true){
                function comparelesson(a, b){
                  if(a.location < b.location)
                    return 1;
                  if(a.location > b.location)
                  return -1;
                  return0;
                }
              }
              return subjects.sort(comparelesson)
            },
            sortAvalaibleity(){
                  if(this.sortNature == false){
                //Then compare func that sorts location in assecnding order 
                function comparelesson(a, b){
                  for( i in subjects){
                  
                  
                  if((a.availableInventory - cartCount(i)) > b.availableInventory)
                    return 1;
                  if((a.availableInventory - cartCount(i))< b.availableInventory)
                  return -1;
                  return0; }   
                }if(this.sortNature == true){
                function comparelesson(a, b){
                  if((a.availableInventory - cartCount(i))< b.availableInventory)
                    return 1;
                  if((a.availableInventory - cartCount(i))> b.availableInventory)
                  return -1;
                  return0;
                }
              }
            }
              return subjects.sort(comparelesson)
            }
                ,
                sortByLesson(){
                  if(this.sortNature == false){
                //Then compare func that sorts lesson in assecnding order 
                function comparelesson(a, b){
                  if(a.title > b.title)
                    return 1;
                  if(a.title < b.title)
                  return -1;
                  return0; }   
                }if(this.sortNature == true){
                function comparelesson(a, b){
                  if(a.title < b.title)
                    return 1;
                  if(a.title > b.title)
                  return -1;
                  return0;
                }
              }
               return this.subjects.sort(comparelesson)
            }, 
            sortByPrice(){     
                if(this.sortNature == false){
                    //The comparison function that defines the order low to high by comparing price values
                    function compare(a, b) {
                   return a.price - b.price
                   }}
                if(this.sortNature == true){
                  //The comparison function that defines the order High to low by comparing price values
                  function compare(a, b) {
                   return b.price - a.price
                    }
                  }
               return this.subjects.sort(compare)
            }
          ,

          changeFormat(){
              this.sortNature = true;
          },
          changeFormatfalse(){
                this.sortNature = false;
          },
   
        searchTable(value, data){
          var filterData = []
          for(var i = 0; i < data.length; i++){
            value = value.toLowerCase()
            var title = data[i].title.toLowerCase()
            var location = data[i].location.toLowerCase()

            if(title.includes(value) || location.includes(value)){
              filterData.push(data[i])
              console.log("Search Result: "+ data[i].title)

            }
          }
              return filterData
        },

        //Filters the list to remove multiple quaniity of same lesson
        checkcountSubs(list){
          var boughtSubs = []
          let x = (list) => list.filter((v,i) => list.indexOf(v) === i)
          console.log("list size = "+ x(list))
          return x(list);
        },

        removeDups(subjects){
          let unique = {};
          subjects.forEach(function(i) {
       if(!unique[i]) {
          unique[i] = true;
         }
          });
          
        return Object.keys(unique);
        }

            },
        computed:{
          cartItemCount: function(){
            return this.cart.length || ''; 
           },
           changeState: function(){
               return this.sortState = true
           },checkoutBtnStat(){
            if(this.cart.length > 0){
              return true
            }else return false
           }, placeorderBtn(){
             if(this.order.phonenumber != '' && this.order.firstName != ''){
               return true
             } else return false
           },
           validateFormInputName(){
             //Validates user input using regular expression to validate usersname is in alphabets.
             var regex = /^[a-zA-Z]+$/;
             if(regex.test(this.order.firstName) == false){
              return false
              }
              //Verifys if username is not empty, null, or includes less then 4 chracters.
              if(this.order.firstName == "" || this.order.phonenumber == null || this.order.firstName.length < 4){
                return false
              }
              return true
             },
             validateFormInputPhone(){
              //Validates phone number input using regular expression to validate Phone is in numbers.
              var regex = /^(\+\d{1,2}\s?)?1?\-?\.?\s?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$/;
              if(regex.test(this.order.phonenumber) == false){
                return false
              } 
              //Verifys if phone number is not empty, null, or includes less then 4 chracters.
              if(this.order.phonenumber == "" || this.order.phonenumber == null){
                return false
              } 
              return true
             }
        },
    })

        
         


</script>
</html>